# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Namecoin Client
Exec=electrum-nmc %u
GenericName[en_US]=Electrum-NMC
GenericName=Electrum-NMC
Icon=/usr/share/app-install/icons/electrum-nmc.png
Name[en_US]=Electrum Namecoin Wallet
Name=Electrum Namecoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/namecoin

